html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #63E2D1;
}

.logo-container {
  font-size: 30px;
  align-content: center;
  display: block;
}

.logo {
  margin: 0;
  color: white;
}

.material-icons.md-48 {
  font-size: 48px;
  padding-left: 30px;
  color:white;
}

.navbar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  background-color: #4ECDC4;
  overflow-x:hidden;
  padding-top: 20px;
  top: 0;
  left: 0;
}

.navbar a {
  padding: 6px 8px 6px 16px;
  font-size: 22px;
  color: #F7FFF7;
  display: block;
}

.navbar a:hover {
  color: #FFEE9B;
}

.main {
  margin-left: 160px;
  font-size: 20px;
  padding: 0;
  bottom:0;
  height: 100%;
  background-color: #F8F8F8;
}


.date-container {
  position: absolute;
  bottom: 20px;
  color:#FFEE9B;
}

#date {
  color: #FFEE9B;
  font-size: 19px;
  padding-left: 16px;
  margin-top: 10px;
}

.cal-icon {
  padding-left: 16px;
}

.header-bar {
  background-color: white;
  overflow: hidden;
  height:60px;
  border-bottom: solid 2px lightgrey;
}

.header-bar p {
  float:left;
  color: grey;
  text-align: center;
  padding-left: 20px;
  font-size: 24px;
}

.sign-in {
  float:right;
  padding-right: 15px;
  padding-top: 25px;
}

.sign-in a {
  font-size: 16px;
  color: grey;
  text-align: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  align-items: center;
  margin-left: 95px;
  margin-top: 40px;
}

.grid-div {
  background-color: white;
  border: 1px solid lightgrey;
  font-size: 20px;
  height: 270px;
  width: 520px;
  padding-top: 10px;
}

.grid-header {
  overflow: hidden;
  height: 60px;
  margin-top:-10px;
  width: 520px;
}

.grid-header p {
  float:left;
  color: grey;
  text-align: center;
  padding-left: 20px;
  font-size: 24px;
  margin-bottom:0;
}

.button {
  float:right;
  padding-right: 15px;
  padding-top: 20px;
}

.button a {
  font-size: 16px;
  color: #F8F8F8;
  text-align: center;
  background-color: #4ECDC4;
  padding: 8px;
}

.acc-home {
  padding-left: 20px;
}

.acc-details{
  color: grey;
  font-size: 20px
}

.acc-name{
  color: #4ECDC4;
  font-size: 22px;
}

.view-page {
  font-size: 15px;
  color: white;
  background-color: #FF9191;
  padding:8px;
}

.goals-page{
	width: 700px;
	overflow: hidden;
}
.goals-page-column {
	float:left;
	width: 350px;
	height: 500px;
	border: 1px solid #DDDDDD;
}


/* Add goals form on goals page */

.add-goals-button {
  margin: 10px 0px 10px 10px;
  padding: 8px;
  background-color: #FF9191;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

.goals-form-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  box-sizing: border-box;
}

.goals-form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  display:none;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.goals-form-container input[type=text]{
  width: 90%;
  padding: 15px;
  margin: 10px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

.goals-form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.goals-form-container .btn {
  background-color: #4ECDC4;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 5px 0px 5px 0px;
  opacity: 0.8;
}

.goals-form-container .close {
  background-color: #FF9191;
}

.goals-form-container .btn:hover, .add-goals-button:hover{
  opacity: 1;
}

.report-title{
  text-align: center;
  font-size: 40px;
}

#piechart{
  padding-top: 5px
}

.goals-container-header{
	font-size: 20px;
	color: gray;
	float: left;
	margin: 0 0 0 10px;
}

.goals-container{
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 5px 7px 5px;
	float: right;
	width: 60%;
	height:80%;
	overflow-y:auto;
    overflow-x:hidden;
}

.add-goal{
	background-color:#4ECDC4;
	opacity: 0.5;
	border: 1px solid #DDDDDD;
    border-radius: 4px;
	width: 100%;
	height: 20%;
}

.category-header{
	text-align: center;
	color: white;
	font-size: 16px;
}

.goal-progress-bar{
	background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
	height: 40%;
	margin-left: 5px;
	margin-right: 5px;
}

.budget{
	margin-top: 10px;
	text-align: center;
	color: black;
	font-size: 16px;
}


.column-left{
  padding-left: 15px;
  float: left;
  width: 33%;
}

.column-center{
  float: left;
  width: 32%;
}

.column-right{
  float: right;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 150px;
}

/* The popup form - hidden by default */
.button-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 150px;
}

/* Add styles to the button container */
.button-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.button-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.button-container input[type=text]:focus, .button-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.button-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.button-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.button-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*Alerts section*/

.alerts-container {
	width: 100%;
	height: 100%;
}

.alerts-left{
	float: left;
	width: 40%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 50px;
	padding-top: 30px;
	padding-right: 10px;
}

.alerts-right{
	float:right;
	width: 45%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 10px;
	padding-top: 30px;

}
.alert-row-container{
	border: 1px solid #f1f1f1;
	border-radius: 4px;
}

.alert-row{
	height: 40px;
	border-bottom: 1px solid #f1f1f1;
	display: inline-block;
	padding: 3px 5px 3px 10px;
	width: 100%;

}

.alert-sheader{
	font-size: 18px;
	color: black;
}


.alert-setting-type{
	font-size: 15px;
	color: black;
}

/* The switch - the box around the slider */
.switch {
  float: right;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  right: 15px;
  bottom: 45px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.frequency {
	display:inline-block;
	position: relative;
	bottom: 38px;
	left: 150px;
}

.alerts-history-container {
	background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 15px 10px 15px 10px;
	/*float: right;*/
	width: 100%;
	height: 80%;
	overflow-y:auto;
    overflow-x:hidden;
}

.alert-goal {
	background-color:#4ECDC4;
	opacity: 0.5;
	border: 1px solid #DDDDDD;
    border-radius: 4px;
	width: 100%;
	height: 15%;
	margin: 5px 5px 5px 5px;
}

.alert-alt {
	background-color:#FF9191;
	opacity: 0.5;
	border: 1px solid #DDDDDD;
    border-radius: 4px;
	width: 100%;
	height: 15%;
	margin: 5px 5px 5px 5px;
}

.alert-encourage {
	background-color:#92defc;
	opacity: 0.5;
	border: 1px solid #DDDDDD;
    border-radius: 4px;
	width: 100%;
	height: 15%;
	margin: 5px 5px 5px 5px;
}

.alert-text{
	text-align: center;
	color: black;
	font-size: 18px;
}

.alert-date{
	text-align: center;
	color: gray;
	font-size: 10px;
}
